{% extends 'base.html' %}
{% load static %}

{% block title %}Blogs - Learners Hub{% endblock %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Latest Blog Posts</h2>
                <p>Read our latest blog posts! Stay updated with insightful articles and tutorials.</p>
                <div class="blog-list">
                    <div class="blog-item">
                        <h3>10 Tips for Learning Python Programming</h3>
                        <p>Explore effective strategies for mastering Python programming.</p>
                    </div>
                    <div class="blog-item">
                        <h3>Introduction to Data Science: Concepts and Applications</h3>
                        <p>Learn about the fundamental concepts of data science and its applications.</p>
                    </div>
                    <!-- Add more blog posts as needed -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar">
                    <h4>Categories</h4>
                    <ul class="category-list">
                        <li><a href="#">Programming</a></li>
                        <li><a href="#">Data Science</a></li>
                        <li><a href="#">Web Development</a></li>
                        <!-- Add more categories as needed -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
